[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/alikemalozkan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/alikemalozkan
	label-Verified = -1..+1 group user/alikemalozkan
	push = group user/alikemalozkan
	read = group user/alikemalozkan
	rebase = group user/alikemalozkan
	removeReviewer = group user/alikemalozkan
	submit = group user/alikemalozkan
[access "refs/heads/*"]
	create = group user/alikemalozkan
	push = +force group user/alikemalozkan
	pushMerge = group user/alikemalozkan
	read = group user/alikemalozkan
[access "refs/tags/*"]
	push = group user/alikemalozkan
	push = +force group user/alikemalozkan
